<!-- <ng-container>
    <h1>Welcome to the home page!</h1>
    <div class="form-container mat-elevation-z5">
        <input type="file" (change)="ReadExcel($event)">
    </div>
</ng-container> -->
<div class="card" style="width: 31rem;border-width: 10px; margin-bottom: 4%;">
    <div class="card-body">
        <div class="progress form-group" *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
            </div>
        </div>
        <div class="form-group">
          <input type="file" name="fileUpload"  id="file_upl" (change)="onFileChange($event)" #myInput/>
          <button (click)="uploadFile()" color="primary" class="upload-btn" [disabled] = "!fileIsUploaded()"> Upload File</button>
        </div>
    </div>
</div>

<div class="card" style="display: block; width: 400px">
    <canvas id="canvas" height="320">{{ chart }}</canvas>
  </div>

<div class="card" style="display: block; width: 800px">
    <img  class="thumbnail-image" src="http://127.0.0.1:5000/get_image" width="800" height="500"
      onerror="this.src='assets/images/image-placeholder.png';"  alt="..." />
</div>

     