<mat-toolbar color="primary">
  Hit Back Suicide
  <!-- <ng-container *ngIf="user$ | async as user; else logOutButton"> -->
    <!-- <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
      />
      {{ user }}
      <mat-icon>expand_more</mat-icon>
    </button> -->
  <!-- </ng-container> -->
  <ng-container >
    <!-- <p  *ngIf="isHome == true" mat-menu-item style="right: -537px;color: white;">Hi, Varsha</p> -->
    <button *ngIf="isHome == true" style="color: white;" mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
  
  <!-- <ng-template #logOutButton>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-template> -->

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- <mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu> -->
